manifest {
    description = 'Rhometa Simulation pipeline'
    nextflowVersion = '>= 20.10.0'
}


process {
    container = 'sidkris/rhometa_sim:latest'
    executor = 'local'
    scratch = true

    withName: RATE_SELECTOR {
        cpus  = 1
        memory = 1.GB
        time = 10.m
    }

    withName: MSPRIME {
        cpus  = 1
        memory = 8.GB
        time = 2.h
    }

    withName: REFORMAT_FASTA {
        cpus  = 1
        memory = 1.GB
        time = 10.m
    }

    withName: ISOLATE_GENOME {
        cpus  = 1
        memory = 1.GB
        time = 10.m
    }

    withLabel: ART {
        cpus  = 1
        memory = 8.GB
        time = 2.h
    }

    withLabel: BWA {
        cpus  = 4
        memory = 8.GB
        time = 1.h
    }

}


docker {
    enabled = true
}


singularity {
    enabled = false
}


tower {
    accessToken = 'eyJ0aWQiOiAzMDQxfS5jNWFjNmJkMjA3NTY5YWI1NjMxYWRiOTVkNWI3NDlhMGJkMTk3OTg4'
    enabled = false
}