manifest {
    description = 'Rhometa Simulation pipeline'
    nextflowVersion = '>= 20.10.0'
}


process {
    container = 'sidkris/rmeta_sim:latest'

    executor = 'local'
    scratch = true
    cpus  = 2
    memory = 16.GB
    time = 1.h
    
}


docker {
    enabled = true
}

singularity {
    enabled = false
}

tower {
    accessToken = 'eyJ0aWQiOiAzMDQxfS5jNWFjNmJkMjA3NTY5YWI1NjMxYWRiOTVkNWI3NDlhMGJkMTk3OTg4'
    enabled = false
}